/* Color Theme Swatches in Hex */
#lemon{color : #BF1736;} 
#lemon{ color: #730220; }
#lemon{ color: #BF265E; }
#lemon{ color: #F26DAB; }
#lemon{ color: #400B2D; }

/* Color Theme Swatches in Hex */
#star { color: #02070D; }
#star { color: #193B59; }
#star { color: #122A40; }
#star { color: #3C5E73; }
#star { color: #93B3BF; }

/* Color Theme Swatches in Hex */
.Starry-Night-1-hex { color: #355487; }
.Starry-Night-2-hex { color: #3F88FF; }
.Starry-Night-3-hex { color: #6891D4; }
.Starry-Night-4-hex { color: #EDC167; }
.Starry-Night-5-hex { color: #FCD27C; }

/* Color Theme Swatches in Hex */
.Revolution-1-hex { color: #21201C; }
.Revolution-2-hex { color: #8FA58C; }
.Revolution-3-hex { color: #FCE6AA; }
.Revolution-4-hex { color: #F3F1C0; }
.Revolution-5-hex { color: #A80A02; }

/* Color Theme Swatches in Hex */
.for-dear-life-1-hex { color: #E5AD24; }
.for-dear-life-2-hex { color: #C0D4D4; }
.for-dear-life-3-hex { color: #F2EF9D; }
.for-dear-life-4-hex { color: #EAC875; }
.for-dear-life-5-hex { color: #955E35; }
