h1 {
    /* font-family: coolvetica, "sans-serif"; */
    font-family: "loos-normal", sans-serif;
    /* font-family: "house-of-cards", serif; */
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lft-etica-mono", "sans-serif"
}

.nav-bar {
    margin-left: 700px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    position: fixed;
    padding: 1rem;
    z-index: 999;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    width: 100%;
    gap: 2rem;
    background-color: white;
    height: 60px;
}

#nav-button {
    font-size: 18px;
    cursor: pointer;
}

.head-container, #cv-button {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.head-container {
    margin-top: 250px;
}

#intro {
    font-size: 5rem;
}

#cv-button {  
    margin-top: 10px;
    cursor: pointer;
}

img {
    left: -5rem;
    top: 50px;
}

/* html {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      125% 125% at -2% 101%,
      rgba(245, 87, 2, 1) 10.5%,
      rgba(245, 120, 2, 1) 16%,
      rgba(245, 140, 2, 1) 17.5%,
      rgba(245, 170, 100, 1) 25%,
      rgba(238, 174, 202, 1) 40%,
      rgba(202, 179, 214, 1) 65%,
      rgba(148, 201, 233, 1) 100%
    );
} */

/* .container {
    width: 100%;
    height: 100%; */
    /* Add your background pattern here
    background: linear-gradient(
      -45deg,
      #00eff8,
      #f800b4,
      #ebf503,
      #02f6c1,
      #00eff8,
      #9400f8
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 200%;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
  

html, body, main {
    height: 100%;
    width: 100%;
}

p {
    width: 50%;
    margin: 2rem 0;
}

section {
    height: 100vh;
}

.container {
    padding: 5rem;
}

.sticky-parent {
    height: 500vh;

}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    border: 1px solid red;
}

.scroll-section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 500vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}