html {
  background-color: #5BB4FF;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    /* font-family: coolvetica, "sans-serif"; */
    /* font-family: "loos-normal", sans-serif; */
    /* font-family: "house-of-cards", serif; */
    font-family: "Pixelify Sans" sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;  /* fills the screen vertically */
    width: 100vw;   /* fills the screen horizontally */
    overflow: hidden; /* prevent scrolling */
}

.desktop-container {
    position: relative;
    display: inline-block;  /* prevents stretching */
    max-width: 90vw; /* responsiveness */
}

.desktop-container img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: 15px;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.date-time {
    position: absolute;
    top: 172px;
    right: 155px;
    z-index: 1;
}

.date-time p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 15pt;
    display: inline-block;
    margin-right: 10px;
}

#intro {
    font-size: 4.5rem;
    color: #1D3446;
}

#cv-button {  
    margin-top: 10px;
    font-size: 16pt;
}

.secs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.secs-container img {
    width: 10dvw;
    height: auto;
    margin-bottom: 15px;
}

.secs-container p {
    font-size: 1.5rem;
    margin-left: 8px;
}

#abt-me-button, #skills-button, #projects-button, #contact-button, #cv-button {
    cursor: pointer;
}

#abt-me-button:hover, #skills-button:hover, #projects-button:hover, #contact-button:hover, #cv-button:hover {
    opacity: 65%;
    transform: translateY(5px);
    transition: 0.1s;
}

#abt-me-button:active, #skills-button:active, #projects-button:active, #contact-button:active {
    transform: translateY(10px);
}

:root {
    --pane-width: 50vw;
    --pane-height: 70vh;
}

.pane {
    box-sizing: border-box;
    position: absolute;
    width: var(--pane-width);
    height: var(--pane-height);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    z-index: 2;
    border-radius: 14px;
    background: #E8F5FF;
    border: 5px solid #1D3446;
    flex-direction: column;
    padding-top: 35px;
}

.header {
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pane-line {
    height: 5px;
    background-color: #1D3446;
    width: 100%;
}

.close-button {
    position: absolute;
    width: 2vw;
    height: auto;
    right: 25px;
    top: 3px;
    cursor: pointer;
}

.close-button:hover {
    opacity: 65%;
}

.close-button:active {
    transform: translateY(1px);
}

.title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

.content p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 16px;
}

.corner-tl, .corner-tr, .corner-bl, .corner-br {
    position: absolute;
    width: 15px;
    height: 15px;
}

.corner-tl {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.corner-tr {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.corner-bl {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.corner-br {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

.pane.is-dragging .header {
    background-color: #89ccff;
}