html {
  background-color: #5BB4FF;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: "Pixelify Sans" sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

.desktop-pane, .pane {
    box-sizing: border-box;
    position: absolute;
    width: 70vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    top: 28%;
    left: 18%;
    z-index: 1;
    border-radius: 14px;
    background: #E8F5FF;
    border: 5px solid #1D3446;
    flex-direction: column;
    padding-top: 35px;
}

.desktop-line, .pane-line {
    height: 5px;
    background-color: #1D3446;
    width: 100%;
}

#desktop {
    padding-top: 43px;
}

.cloud1 img {
    position: absolute;
    width: 367.5px;
    height: auto;
    top: -175px;
    left: -130px;
    z-index: 1;
}

.cloud2 img {
    position: absolute;
    width: 367.5px;
    height: auto;
    bottom: -150px;
    right: -140px;
    z-index: 10;
}

.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;  /* fills the screen vertically */
    width: 100vw;   /* fills the screen horizontally */
    overflow: hidden; /* prevent scrolling */
}

.desktop-container {
    position: relative;
    display: inline-block;  /* prevents stretching */
    max-width: 90vw; /* responsiveness */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.date-time {
    position: absolute;
    top: 8px;
    right: 5px;
}

.date-time p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 15pt;
    display: inline-block;
    margin-right: 10px;
}

.wifi img {
    position: absolute;
    width: 42px;
    height: auto;
    top: 1px;
    right: 280px;

}

.battery img {
    position: absolute;
    width: 42px;
    height: auto;
    top: -3px;
    right: 225px;

}


#intro {
    font-size: 4.5rem;
    color: #1D3446;
}

#cv-button {  
    margin-top: 10px;
    font-size: 16pt;
    border: none;
    background: transparent;

}

.secs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.secs-container img {
    width: 10dvw;
    height: auto;
    margin-bottom: 15px;
}

.secs-container p {
    font-size: 1.5rem;
    margin-left: 8px;
}

#abt-me-button, #skills-button, #projects-button, #contact-button {
    margin-right: 20px;
    margin-right: 20px;
}

#abt-me-button, #skills-button, #projects-button, #contact-button, #cv-button {
    cursor: pointer;
    user-select: none;
}

#abt-me-button:hover, #skills-button:hover, #projects-button:hover, #contact-button:hover, #cv-button:hover {
    opacity: 65%;
    transform: translateY(5px);
    transition: 0.1s;
}

#abt-me-button:active, #skills-button:active, #projects-button:active, #contact-button:active {
    transform: translateY(10px);
}

#cv-button:active {
    opacity: 90%;
    transition: 0.1s;
    
}


:root {
    --pane-width: 50vw;
    --pane-height: 60vh;
}

.pane {
    width: var(--pane-width);
    height: var(--pane-height);
    padding-top: 35px;
    overflow: hidden;
}

#skills-window {
    top: 33%;
    left: 22%;
}

#projects-window {
    top: 39%;
    left: 26%;
}

#contact-window {
    top: 45%;
    left: 30%;
}

.header {
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-button {
    position: absolute;
    width: 2vw;
    height: auto;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.close-button img {
  width: 100%;
  height: auto;
  display: block;
}

.close-button:hover {
    opacity: 65%;
}

.close-button:active {
    transform: translateY(1px);
}

.title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

.content p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 16px;
}

/* .corner-tl, .corner-tr, .corner-bl, .corner-br {
    position: absolute;
    width: 15px;
    height: 15px;
}

.corner-tl {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.corner-tr {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.corner-bl {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.corner-br {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
} */

.pane.is-dragging .header {
    background-color: #8bccfd;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #1D3446;
    table-layout: fixed;
}

.skills-table td {
    border: 3px solid #1D3446;
    padding: 0.8rem;
    vertical-align: center;
    width: 33%;
    font-size: 17px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    line-height: 1.5;
    background-color: #d3ecff;

}

.skill-groups td {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    background-color: #9ed5ff;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.contact-table h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
}

.contact-table td {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    padding: 0.8rem;
    vertical-align: center;
    width: 33%;
}

.contact-table img {
    width: 8vw;
    vertical-align: top;
}

